<div>

  <app-time-series-chart [title]="'Random Walk'" [numOfXValues]=50 [datasource]='walkObservable' [minY]=-10 [maxY]=10 [stepped]=true></app-time-series-chart>

  <app-time-series-chart [title]="'Sine Curve'" [numOfXValues]=65 [datasource]='sineObservable' [minY]=-1 [maxY]=1></app-time-series-chart>

  <app-time-series-chart [title]="'Cosine Curve'" [numOfXValues]=65 [datasource]='cosineObservable' [minY]=-1 [maxY]=1></app-time-series-chart>

  <app-time-series-chart [title]="'Tan Curve'" [numOfXValues]=65 [datasource]='tanObservable' [minY]=-5 [maxY]=5></app-time-series-chart>

  <app-user-input-chart [title]="'User Walk'" [numOfXValues]=20 [datasource]='userWalkObservable' [stepped]=true></app-user-input-chart>

  <app-quick-chat [title]="'Quick Chat'" [datasource]='quickChatObservable'></app-quick-chat>

</div>