:host {
    display: flex;
    width: 100%;
    position: absolute;
    box-sizing: border-box;    
}

div {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    padding: 1rem;
    margin: auto;
}

app-time-series-chart {
    display: block;
}

@media(max-width: 810px){
    div {
        grid-template-columns: auto;
    }
}