<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">{{title}}</h5>
  </div>
  <div class="card-body">
    <span *ngFor="let message of messages">{{message.value}}
      <br>
    </span>
  </div>
  <div class="card-footer">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter message" [(ngModel)]="newMessage">
      <span class="input-group-btn">
        <button [disabled]="newMessage == null" type="button" class="btn btn-dark" (click)="sendNewMessage()">Send</button>
      </span>
    </div>
  </div>
</div>